In [1]:
import json
import requests
import quandl
import pandas as pd
import datetime

from pandas.io.json import json_normalize



response = requests.get("https://min-api.cryptocompare.com/data/histoday?fsym=ETH&tsym=USD&allData=TRUE")


data = json.loads(response.text)
data2 = json_normalize(data)
json_data = data['Data']
df=pd.DataFrame(data['Data'])
df['Date'] = pd.to_datetime(df['time'],unit='s')
df.dtypes
df.astype(object)

Eth = df[['Date','open','high','low']]
Eth['ETHOpen'] = Eth['open']
Eth['ETHHigh'] = Eth['high']
Eth['ETHLow'] = Eth['low']
Eth = Eth[['Date','ETHOpen','ETHHigh','ETHLow']]

# US Treasury Bond Futures
USTBonds = quandl.get('CHRIS/CME_US1')

# US Dollar Index Futures
USDIndexFutures = quandl.get('CHRIS/ICE_DX2')
    
# Inflation YOY - USA
USInflationRate = quandl.get('RATEINF/INFLATION_USA')

# Unemployment Level
USUnemp = quandl.get('FRED/UNRATE')
    
# Effective Federal Funds Rate (Interest Rate)
USFedFundRate = quandl.get('FRED/DFF')

# United States GDP at Current Prices, LCU Billions
USGDP = quandl.get('ODA/USA_NGDP')

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [157]:


USTBonds = pd.DataFrame(USTBonds)
USTBonds['Date'] = USTBonds.index.values
TBonds = USTBonds[['Date','Open']]
TBonds = TBonds.rename(columns = {'Open':'TBondsOpenValue'})

USDIndexFutures = pd.DataFrame(USDIndexFutures)
USDIndexFutures['Date'] = USDIndexFutures.index.values
IndexFutures = USDIndexFutures[['Date','Open']]
IndexFutures['IndexFutures'] = IndexFutures['Open']
IndexFutures = IndexFutures[['Date','IndexFutures']]

USFedFundRate = pd.DataFrame(USFedFundRate)
USFedFundRate['Date'] = USFedFundRate.index.values
FedFundRate = USFedFundRate[['Date','Value']]
FedFundRate['FedFundRateValue'] = FedFundRate['Value']
FedFundRate = FedFundRate[['Date','FedFundRateValue']]

USInflationRate = pd.DataFrame(USInflationRate)
USInflationRate['Date'] = USInflationRate.index.values
USInflationRate.insert(0, 'NumInd', range(0, 0 + len(USInflationRate)))
USInflationRate.set_index('NumInd', inplace=True)
USInflationRate['start'] = USInflationRate['Date']
USInflationRate['end'] = USInflationRate['Date']
USInflationRate.end = USInflationRate.end.shift(-1)
USInflationRate.end = USInflationRate['end'].fillna(datetime.date.today())

USUnemp = pd.DataFrame(USUnemp)
USUnemp['Date'] = USUnemp.index.values
USUnemp.insert(0, 'NumInd', range(0, 0 + len(USUnemp)))
USUnemp.set_index('NumInd', inplace=True)
USUnemp['start'] = USUnemp['Date']
USUnemp['end'] = USUnemp['Date']
USUnemp.end = USUnemp.end.shift(-1)
USUnemp.end = USUnemp['end'].fillna(datetime.date.today())

USGDP = pd.DataFrame(USGDP)
USGDP['Date'] = USGDP.index.values
USGDP.insert(0, 'NumInd', range(0, 0 + len(USGDP)))
USGDP.set_index('NumInd', inplace=True)
USGDP['start'] = USGDP['Date']
USGDP['end'] = USGDP['Date']
USGDP.end = USGDP.end.shift(-1)
USGDP.end = USGDP['end'].fillna(datetime.date.today())

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [159]:
def full_data(dataframe):
    allframes = []
    for i in dataframe.index:
        newframe = pd.DataFrame()
        newframe['Date'] = pd.date_range(dataframe.iloc[i].start, dataframe.iloc[i].end, freq = 'D')
        newframe['value'] = dataframe.iloc[i]['Value']    
        allframes.append(newframe)
    return pd.concat(allframes)


InflationCast = full_data(USInflationRate)
InflationRate = InflationCast[['Date','value']]
InflationRate['InflationRateValue'] = InflationRate['value']
InflationRate = InflationRate[['Date','InflationRateValue']]

UnempCast = full_data(USUnemp)
UnempRate = UnempCast[['Date','value']]
UnempRate['UnemploymentValue'] = UnempRate['value']
UnempRate = UnempRate[['Date','UnemploymentValue']]

GDPCast = full_data(USGDP)
GDP = GDPCast[['Date','value']]
GDP['GDP'] = GDP['value']
GDP = GDP[['Date','GDP']]

In [185]:
dataset = pd.merge(Eth, TBonds, on='Date') #Daily
dataset = pd.merge(dataset,IndexFutures, on = 'Date') # Daily
dataset = pd.merge(dataset,InflationRate, on = 'Date') # Monthly
dataset = pd.merge(dataset,UnempRate, on = 'Date') # Monthly
dataset = pd.merge(dataset,FedFundRate, on = 'Date') # Daily
dataset = pd.merge(dataset,GDP, on = 'Date') # Annually

cols = dataset.columns.tolist()
cols = cols[-1:] + cols[:-1]
dataset = dataset[cols]
dataset.GDP = dataset.GDP/10000
dataset.TBondsOpenValue = dataset.TBondsOpenValue/100
dataset.ETHOpen = dataset.ETHOpen/100
dataset.IndexFutures = dataset.IndexFutures/100
dataset.ETHHigh = dataset.ETHHigh/100
dataset.ETHLow = dataset.ETHLow/100

py.iplot([{
    'x': dataset['Date'],
    'y': dataset[col],
    'name': col
}  for col in dataset.columns], filename='dataset')

In [186]:
dataset = pd.merge(Eth, TBonds, on='Date') #Daily
dataset = pd.merge(dataset,IndexFutures, on = 'Date') # Daily
dataset = pd.merge(dataset,InflationRate, on = 'Date') # Monthly
dataset = pd.merge(dataset,UnempRate, on = 'Date') # Monthly
dataset = pd.merge(dataset,FedFundRate, on = 'Date') # Daily
dataset = pd.merge(dataset,GDP, on = 'Date') # Annually

cols = dataset.columns.tolist()
cols = cols[-1:] + cols[:-1]
dataset = dataset[cols]
dataset.GDP = dataset.GDP/1000
dataset.TBondsOpenValue = dataset.TBondsOpenValue/10
dataset.ETHOpen = dataset.ETHOpen/10
dataset.IndexFutures = dataset.IndexFutures/10
dataset.ETHHigh = dataset.ETHHigh/10
dataset.ETHLow = dataset.ETHLow/10

py.iplot([{
    'x': dataset['Date'],
    'y': dataset[col],
    'name': col
}  for col in dataset.columns], filename='dataset')

In [181]:
data = [go.Scatter(x=dataset.index, y=dataset['ETHOpen']*10)]

py.iplot(data)

In [196]:
dataset.to_csv('C:/Users/JP/Documents/School/Practicum/Github/Practicum/data/dataset.csv')

In [182]:
df

,close,high,low,open,time,volumefrom,volumeto,Date
0,3.00,3.00,0.6747,0.6747,1438905600,123.93,3.717900e+02,2015-08-07
1,1.20,3.00,0.1500,3.0000,1438992000,2119.43,1.438160e+03,2015-08-08
2,1.20,1.20,1.2000,1.2000,1439078400,0.00,0.000000e+00,2015-08-09
3,1.20,1.20,1.2000,1.2000,1439164800,0.00,0.000000e+00,2015-08-10
4,0.99,1.20,0.6504,1.2000,1439251200,9486.09,7.419730e+03,2015-08-11
5,1.29,1.29,0.9050,0.9900,1439337600,2140.46,2.376280e+03,2015-08-12
6,1.88,1.88,1.2600,1.2900,1439424000,3163.29,4.923220e+03,2015-08-13
7,1.79,2.10,1.7900,1.8800,1439510400,5800.73,1.107041e+04,2015-08-14
8,1.79,1.79,1.5000,1.7900,1439596800,8711.24,1.481275e+04,2015-08-15
9,1.37,1.79,0.5000,1.7900,1439683200,9714.19,1.079495e+04,2015-08-16
10,1.30,1.59,1.2500,1.3700,1439769600,4325.42,6.063990e+03,2015-08-17
11,1.36,1.36,1.1500,1.3000,1439856000,2390.72,2.867740e+03,2015-08-18
12,1.24,1.36,0.9900,1.3600,1439942400,4131.90,4.769300e+03,2015-08-19
13,1.52,1.52,1.2400,1.2400,1440028800,1273.00,1.771600e+03,2015-08-20
14,1.44,1.53,1.4400,1.5200,1440115200,6310.99,9.197390e+03,2015-08-21
15,1.40,1.44,1.4000,1.4400,1440201600,229.59,3.217600e+02,2015-08-22
16,1.35,1.40,1.3100,1.4000,1440288000,323.11,4.387500e+02,2015-08-23
17,1.24,1.35,1.2400,1.3500,1440374400,5117.98,6.460830e+03,2015-08-24
18,1.27,1.28,1.2200,1.2400,1440460800,938.92,1.188350e+03,2015-08-25
19,1.18,1.27,1.0800,1.2700,1440547200,2043.44,2.337470e+03,2015-08-26
20,1.14,1.19,1.1400,1.1800,1440633600,230.30,2.690700e+02,2015-08-27
21,1.30,1.30,1.1400,1.1400,1440720000,20767.10,2.692213e+04,2015-08-28
22,1.18,1.30,1.1500,1.3000,1440806400,329.64,3.833700e+02,2015-08-29
23,1.32,1.35,1.1700,1.1800,1440892800,8505.13,1.097580e+04,2015-08-30
24,1.31,1.32,0.9000,1.3200,1440979200,3258.74,3.959420e+03,2015-08-31
25,1.36,1.38,1.3100,1.3100,1441065600,894.21,1.220610e+03,2015-09-01
26,1.14,1.37,1.1400,1.3600,1441152000,519.87,6.987100e+02,2015-09-02
27,1.23,1.33,1.1400,1.1400,1441238400,2872.93,3.717920e+03,2015-09-03
28,1.35,1.40,1.2800,1.2800,1441324800,15.39,1.876000e+01,2015-09-04
29,1.37,1.37,1.2300,1.2300,1441411200,7881.76,1.043744e+04,2015-09-05
...,...,...,...,...,...,...,...,...
740,301.38,303.29,280.6600,286.5200,1502841600,487956.10,1.435901e+08,2017-08-16
741,300.30,310.43,298.1900,301.3800,1502928000,466305.76,1.417767e+08,2017-08-17
742,292.62,306.52,287.1700,300.3000,1503014400,523133.90,1.553331e+08,2017-08-18
743,293.02,298.79,283.6500,292.6200,1503100800,458296.55,1.333319e+08,2017-08-19
744,298.20,298.78,288.4800,293.0200,1503187200,293661.68,8.621471e+07,2017-08-20
745,321.85,345.44,294.9300,298.2000,1503273600,1147950.71,3.713201e+08,2017-08-21
746,313.37,329.39,293.0900,321.8500,1503360000,823697.62,2.556660e+08,2017-08-22
747,317.40,325.10,313.1600,313.3700,1503446400,428625.31,1.367937e+08,2017-08-23
748,325.28,328.65,315.9400,317.4000,1503532800,352256.90,1.134679e+08,2017-08-24
749,330.06,337.24,324.6900,325.2800,1503619200,428182.32,1.420404e+08,2017-08-25
750,332.86,334.70,325.9000,330.0600,1503705600,214806.33,7.082827e+07,2017-08-26
751,347.88,347.92,332.8000,332.8600,1503792000,336374.92,1.136619e+08,2017-08-27
752,347.66,350.50,335.4100,347.8800,1503878400,452449.22,1.555183e+08,2017-08-28
753,372.35,375.18,347.2400,347.6600,1503964800,674865.15,2.450771e+08,2017-08-29
754,383.86,390.64,367.4100,372.3500,1504051200,651250.58,2.472804e+08,2017-08-30
755,388.33,389.64,380.8900,383.8600,1504137600,335126.62,1.292608e+08,2017-08-31
756,391.42,395.30,386.7100,388.3300,1504224000,491601.26,1.926646e+08,2017-09-01
757,351.03,392.04,328.8700,391.4200,1504310400,1101764.65,3.926721e+08,2017-09-02
758,352.45,370.50,336.3700,351.0300,1504396800,627030.97,2.202136e+08,2017-09-03
759,303.70,352.45,279.9500,352.4500,1504483200,1691892.31,5.180973e+08,2017-09-04
760,317.94,324.37,275.9700,303.7000,1504569600,947781.26,2.859694e+08,2017-09-05
761,338.92,341.77,317.8200,317.9400,1504656000,624432.70,2.077512e+08,2017-09-06
762,335.37,338.92,323.3600,338.9200,1504742400,439263.99,1.456099e+08,2017-09-07
763,306.72,335.39,293.1200,335.3700,1504828800,997877.33,3.079733e+08,2017-09-08
764,303.79,309.07,293.7100,306.7200,1504915200,423738.08,1.279302e+08,2017-09-09
765,299.21,305.76,280.7000,303.7900,1505001600,612531.96,1.798196e+08,2017-09-10
766,297.95,308.30,288.6000,299.2100,1505088000,502277.48,1.491300e+08,2017-09-11
767,294.10,316.38,285.7500,297.9500,1505174400,706469.01,2.129499e+08,2017-09-12
768,275.84,294.39,257.1600,294.1000,1505260800,1204287.66,3.288291e+08,2017-09-13
769,277.58,280.65,275.5400,275.8400,1505347200,27590.54,7.688344e+06,2017-09-14

In [193]:
SANDP

,Open,High,Low,Last,Change,Settle,Volume,Previous Day Open Interest
Date,,,,,,,,
1982-04-21,116.35,117.60,116.05,117.45,NaN,117.45,3696.0,412.0
1982-04-22,117.00,118.40,117.00,117.90,NaN,117.90,2827.0,719.0
1982-04-23,118.40,119.75,118.25,119.65,NaN,119.65,2933.0,946.0
1982-04-26,119.30,120.60,118.65,120.55,NaN,120.55,2871.0,1084.0
1982-04-27,120.20,120.35,118.40,118.85,NaN,118.85,3854.0,1142.0
1982-04-28,118.55,119.30,117.70,118.15,NaN,118.15,3998.0,1306.0
1982-04-29,117.50,118.15,117.25,117.60,NaN,117.60,3446.0,1219.0
1982-04-30,117.55,118.40,117.40,117.50,NaN,117.50,2722.0,1295.0
1982-05-03,117.10,117.50,116.80,117.15,NaN,117.15,2695.0,1585.0
1982-05-04,117.25,118.05,117.25,117.80,NaN,117.80,2467.0,1537.0
1982-05-05,117.85,118.30,117.05,117.55,NaN,117.55,2556.0,1662.0
1982-05-06,118.05,119.20,118.05,119.10,NaN,119.10,4574.0,2078.0
1982-05-07,119.15,120.10,119.00,119.65,NaN,119.65,3715.0,2128.0
1982-05-10,119.20,119.40,118.45,118.50,NaN,118.50,3794.0,2467.0
1982-05-11,118.45,119.95,118.35,119.70,NaN,119.70,4460.0,2998.0
1982-05-12,119.85,120.35,119.05,119.55,NaN,119.55,4798.0,2655.0
1982-05-13,119.55,119.75,118.15,118.35,NaN,118.35,4736.0,2935.0
1982-05-14,118.55,118.75,118.10,118.30,NaN,118.30,3748.0,2751.0
1982-05-17,118.15,118.15,116.50,116.60,NaN,116.60,3973.0,2929.0
1982-05-18,116.60,116.70,115.75,116.00,NaN,116.00,6090.0,3399.0
1982-05-19,115.95,116.35,114.45,114.65,NaN,114.65,6686.0,3732.0
1982-05-20,114.85,115.20,114.15,114.95,NaN,114.95,7539.0,4858.0
1982-05-21,115.25,115.60,114.75,114.90,NaN,114.90,4763.0,4697.0
1982-05-24,114.80,115.15,114.15,115.00,NaN,115.00,4917.0,4717.0
1982-05-25,115.20,115.65,113.45,113.75,NaN,113.75,13321.0,5155.0
1982-05-26,114.00,114.10,112.00,112.50,NaN,112.50,11687.0,5187.0
1982-05-27,112.45,112.60,111.20,111.85,NaN,111.85,9825.0,3841.0
1982-05-28,111.70,112.50,110.75,111.00,NaN,111.00,6838.0,3977.0
1982-06-01,110.75,111.20,109.90,110.05,NaN,110.05,7378.0,4167.0
1982-06-02,110.30,111.75,109.85,111.55,NaN,111.55,7273.0,4140.0
...,...,...,...,...,...,...,...,...
2017-08-08,2476.10,2488.00,2467.30,2473.00,4.6,2472.80,1278.0,58952.0
2017-08-09,2468.60,2474.10,2459.30,2473.30,0.2,2473.00,1633.0,58771.0
2017-08-10,2473.70,2473.80,2433.10,2437.70,35.4,2437.60,6346.0,59110.0
2017-08-11,2436.10,2446.20,2430.60,2440.30,2.5,2440.10,1241.0,59403.0
2017-08-14,2447.00,2466.30,2446.90,2463.60,23.4,2463.50,4260.0,60446.0
2017-08-15,2463.10,2472.90,2460.30,2463.50,0.2,2463.70,1488.0,62277.0
2017-08-16,2464.80,2473.70,2462.00,2467.50,3.8,2467.50,591.0,61608.0
2017-08-17,2465.60,2468.10,2424.10,2429.90,38.0,2429.50,5419.0,61616.0
2017-08-18,2425.90,2439.00,2420.00,2426.70,2.7,2426.80,5974.0,63440.0
2017-08-21,2431.20,2431.20,2416.50,2428.00,1.2,2428.00,941.0,65720.0
2017-08-22,2429.40,2454.00,2427.80,2453.30,24.8,2452.80,1752.0,65695.0
2017-08-23,2453.10,2454.40,2439.00,2441.50,11.3,2441.50,1289.0,67113.0
2017-08-24,2439.30,2448.80,2435.00,2441.00,0.7,2440.80,1494.0,67307.0
2017-08-25,2442.10,2453.20,2437.60,2443.00,1.7,2442.50,4024.0,67703.0
2017-08-28,2442.80,2449.00,2436.40,2443.50,1.2,2443.70,1005.0,71050.0
2017-08-29,2429.30,2448.50,2421.30,2447.00,3.4,2447.10,1661.0,71201.0
2017-08-30,2446.50,2459.70,2443.00,2456.20,8.7,2455.80,2916.0,70873.0
2017-08-31,2458.00,2474.00,2455.30,2469.30,14.3,2470.10,12374.0,70000.0
2017-09-01,2472.00,2479.50,2470.70,2475.00,4.1,2474.20,2113.0,72006.0
2017-09-05,2463.00,2471.00,2446.00,2460.50,14.5,2459.70,3937.0,69104.0
2017-09-06,2459.30,2468.70,2456.80,2465.60,5.8,2465.50,4928.0,69320.0
2017-09-07,2461.00,2469.00,2458.00,2466.50,0.9,2466.40,8070.0,67700.0
2017-09-08,2461.00,2466.30,2458.80,2463.20,3.8,2462.60,13856.0,66137.0
2017-09-11,2477.00,2488.20,2476.00,2487.00,24.9,2487.50,13334.0,60520.0
2017-09-12,2491.00,2496.00,2489.80,2496.00,8.4,2495.90,12647.0,50120.0
2017-09-13,2492.50,2496.70,2491.00,2496.50,0.7,2496.60,9990.0,41797.0
2017-09-14,2492.50,2497.50,2491.50,2496.50,0.2,2496.40,7443.0,42288.0
2017-09-15,NaN,NaN,NaN,NaN,NaN,2496.83,0.0,42466.0
2017-09-18,2498.20,2505.80,2497.70,2502.70,5.5,2502.70,2294.0,39765.0
2017-09-19,2502.30,2506.00,2501.00,2505.00,2.0,2504.70,4065.0,41536.0

In [192]:
SANDP = quandl.get('CHRIS/CME_SP1')